* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: #0a2345;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}


.container {
    width: 470px;
    background: #102b56;
    padding: 40px 35px;
    border-radius: 20px;
    box-shadow: 0 0 18px rgba(0, 255, 255, 0.35);
    text-align: center;
    border: 2px solid rgba(0, 255, 255, 0.3);
}


.container h1 {
    font-size: 40px;
    margin-bottom: 25px;
    color: #8be7ff;
    text-shadow: 0 0 6px #00d9ff;
}


#display {
    background: #0e335c;
    padding: 20px;
    font-size: 45px;
    border-radius: 12px;
    margin-bottom: 28px;
    letter-spacing: 2px;
    border: 2px solid rgba(0, 255, 255, 0.2);
    box-shadow: inset 0 0 12px rgba(0, 255, 255, 0.25);
}


button {
    padding: 12px 28px;
    margin: 10px 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    transition: 0.25s;
    color: #fff;
}


#start { background: #00c853; box-shadow: 0 0 10px #00c853; }
#pause { background: #ffb300; box-shadow: 0 0 10px #ffb300; }
#reset { background: #ff1744; box-shadow: 0 0 10px #ff1744; }
#lap   { background: #0091ea; box-shadow: 0 0 10px #0091ea; }


button:hover {
    transform: scale(1.08);
    box-shadow: 0 0 15px #ffffff;
}


.container h2 {
    margin-top: 25px;
    font-size: 28px;
    color: #7ee3ff;
    text-shadow: 0 0 6px #00c7ff;
}

#laps {
    margin-top: 15px;
    list-style: none;
    max-height: 200px;
    overflow-y: auto;
    padding-right: 5px;
}

#laps li {
    background: #0e2e51;
    margin: 8px 0;
    padding: 10px;
    border-radius: 8px;
    font-weight: 600;
    color: #9ff7ff;
    border-left: 4px solid #00e5ff;
    box-shadow: inset 0 0 6px rgba(0, 255, 255, 0.35);
}
